PORT=5001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=
# JWT Secret
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
# Mongodb Database 
DATABASE_URL=
TDX_CLIENT_ID=
TDX_CLIENT_SECRET=